# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# Visual Studio / IDE
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.vsconfig

# Unity cache / tools
Assets/AssetStoreTools*

# Crash files
mono_crash.*

# OS files
.DS_Store
Thumbs.db

Assets/Samples/
Assets/UnityXRContent/ARFoundation/SimulationEnvironments/